<h2>Wins v. Losses</h2>
<div class="<%= title %> win-loss">
  <form>
    <label><input type="radio" name="mode" value="grouped"> Grouped</label>
    <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
  </form>
</div>
