<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <script src='http://d3js.org/d3.v3.min.js'></script>
    <script src='/javascripts/plotWinsLosses.js'></script>
  </head>
    <body>
