<!DOCTYPE html>
<html>
  <head>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" charset="utf-8"/>

    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <script src='http://d3js.org/d3.v3.min.js'></script>

    <script src='/javascripts/plotWinsLosses.js'></script>
    <script src='/javascripts/plotGoals.js'></script>
    
    <title><%= title %></title>
  </head>
