<nav>
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/blackhawks"><li>Blackhawks</li></a>
    <a href="/bruins"><li>Bruins</li></a>
    <a href="/canadiens"><li>Canadiens</li></a>
    <a href="/mapleleafs"><li>Maple Leafs</li></a>
    <a href="/rangers"><li>Rangers</li></a>
    <a href="/redwings"><li>Red Wings</li></a>
  </ul>
</nav>
